{% extends "base.html" %}
{% block title %} My RSVPs {% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
    {% endfor %}
{% endif %}

<section class='bg-gray-100 min-h-screen flex'>
  <!-- Sidebar -->
  {% include "accounts/side_bar.html" %}
  <!-- Main Content -->
  <main class="flex-1">

    <div class="p-6">
  <!-- Page Title -->
  <h2 class="text-2xl font-semibold text-gray-800">RSVPS Information</h2>
  <p class="text-gray-500 mb-8"></p>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <!-- Form -->
      <div class="max-w-lg mx-auto bg-gray-200 p-6 rounded-xl mt-6">
        <h2 class="text-center">My RSVPed Events</h2>
        <div class="bg-gray-300 p-3 rounded-lg flex justify-center flex-col">
            {% for event in events %}
                <div class="bg-gray-200 p-3 rounded-lg">
                    <h3><span class='text-xl'>Event Name:</span> {{ event.name }}</h3>
                    <p><span class='text-xl'>Event Date:</span> {{ event.date }}</p>
                    <p><span class='text-xl'>Event Location:</span> {{ event.location }}</p>
                </div>
            {% empty %}
                <p class="text-2xl text-bold text-center">You haven't RSVPed to any events yet.</p>
            {% endfor %}
        </div>
    </div>

    </div>

  </div>
</div>
  </main>
  </section>
{% endblock content %}