{% extends "base.html" %}

{% block title %} Password Change Page {% endblock title %}

{% block content %}
    
    <div class="mx-auto w-1/2 py-10">
        <h3>
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        </h3>
    
        <form class="w-full mx-auto bg-gray-300 border rounded" action="" method="POST">
            {% csrf_token %}

            {{form}}

            <button class="bg-blue-500 text-white rounded-md font-bold px-3 py-1 mt-3" type="submit">Change Password</button>
        </form>
    </div>    

{% endblock content %}