{% extends "base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
    {% endfor %}
{% endif %}

<section class='bg-gray-100 min-h-screen flex'>
  <!-- Sidebar -->
  {% include "accounts/side_bar.html" %}
  <!-- Main Content -->
  <main class="flex-1">

    <div class="p-6">
  <!-- Page Title -->
  <h2 class="text-2xl font-semibold text-gray-800">Account Information</h2>
  <p class="text-gray-500 mb-8">Edit your profile quickly</p>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <!-- Form -->
     <div class="container mt-4">
    <h3 class="mb-3 text-xl">Change Password</h3>

        <form method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-3">
                    <p class="form-label">{{ field.label }}</p>
                    {{ field }}
                    {% if field.errors %}
                        <small class="text-danger">{{ field.errors|striptags }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <button class="mt-6 bg-orange-500 px-4 py-2 text-white rounded hover:bg-orange-600">
            Update Password
        </button>
        </form>
    </div>

    </div>

  </div>
</div>
  </main>
  </section>
{% endblock content %}