{% extends "base.html" %}

{% block title %} Password Reset Page {% endblock title %}

{% block content %}
    
    <div class="mx-auto w-1/2 py-10">
        <h3>
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        </h3>
    
        <div class="container mt-4">
            <h3 class="mb-3">Reset Password</h3>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <small class="text-danger">{{ form.email.errors|striptags }}</small>
                    {% endif %}
                </div>

                <button class="mt-6 bg-orange-500 px-4 py-2 text-white rounded hover:bg-orange-600">
            Send Reset Link
        </button>
            </form>
        </div>
    </div>    

{% endblock content %}