{% load static %}
<!-- header.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %}</title>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="font-sans bg-black text-white">
    
    {% if request.user.is_authenticated %}
        {% include "logged_nav.html" %}
    {% else %}
        {% include "non_logged_nav.html" %}
    {% endif %}


    {% block content %}
    
    {% endblock content %}


    {% include "footer.html" %}



    <script>
      // Mobile toggle
      document.getElementById("menu-btn").addEventListener("click", () => {
        document.getElementById("mobile-menu").classList.toggle("hidden");
      });
      const btn = document.getElementById("user-menu-button");
      const menu = document.getElementById("user-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");

        // animation
        menu.classList.toggle("scale-100");
        menu.classList.toggle("opacity-100");
      });

      // Close when clicking outside
      document.addEventListener("click", (e) => {
        if (!btn.contains(e.target) && !menu.contains(e.target)) {
          menu.classList.add("hidden");
          menu.classList.remove("scale-100", "opacity-100");
        }
      });
    </script>
  </body>
</html>
